* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: "iceland";
    background-image: url(./img/backgroundPokemon1.jpg);
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 5px 0;
}
nav {
    width: 100%;
    margin: 2em 0 2em 0;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10%;
}
.title {
    display: flex;
    width: 5.6em;
    font-size: 33px;
    font-family: 'iceland';
    font-weight: bold;
}
.allPokemon {
    height: 2.5em;
    width: 6em;
    font-family: 'iceland';
    color: white;
    background-color: #EF0C3D;
    border-radius: 5px;
    border: solid 2px black;
    font-size: 20px;
}
.allPokemon:hover {
    background-color: #FFFFFF;
    color: black;
}
select {
    margin-left: 0.5em;
    width: 9em;
    height: 2.5em;
    font-family: 'iceland';
    color: white;
    border: solid 2px black;
    border-radius: 5px;
    background-color:  #EF0C3D;
    font-size: 20px;
}
option {
    width: 7em;
    height:0.5em;
    background-color: #EF0C3D;
    font-size:16px;
    
}
.search {
    height: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.search input {
    color: #19054C;
    font-weight: bold;
    width: 15em;
    height: 1.7em;
    border: 2px solid black;
    border-radius: 0.3em 0 0 0.3em;
    font-size: 20px;
    font-family: 'iceland';
}
.search button {
    font-family: 'iceland';
    background-color: #5D5A5B;
    color: white;
    font-size: 25px;
    width: 8.8em;
    height: 1.4em;
    border: 2px solid black;
    border-radius: 0 0.3em 0.3em 0;
}
.search button:hover {
    background-color: #FFFFFF;
    color: black;
}
footer {
    width: 100%;
    font-size: 18px;
    color: rgb(56, 54, 54);
    background-color: #bcb4e7;
    align-items: flex-end;
    position: fixed;
    text-align: center;
    bottom: 0;
}
#root {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 15px 15px 100px;
    padding: 20px 100px 20px 50px;
}
.card {
    background-image: url("img/templatecard.png");
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 220px;
    height: 328px;
    margin: 10px 100px 50px 0;
    padding: 15px 0 5px 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.image {
    width: 180px;
    height: 130px;
    margin: 7px 5px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hitsP {
    
    font-size: 20px;
    font-weight: bold;
    color: rgb(39, 124, 13);
    border-radius: 10px;
    width: 6em;
    height: 20px;
    margin: 5px 5px 5px 15px;
    padding: 2px 2px 6px 2px;
    display: flex;
    flex-direction: column;
}
div {
    display: flex;
}
.combatP {
    font-weight: bold;
    font-size: 20px;
    color: #0d55a6;
    border-radius: 10px;
    width: 6em;
    height: 20px;
    margin: 2px 5px 5px 15px;
    padding: 2px 2px 4px 2px;
    display: flex;
}
.pokeName {
    font-size: 35px;
    width: 180px;
    height: 20px;
    margin: 5px 10px 15px 10px;
    padding: 20px 2px 6px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.counterContainer {
    display: flex;
    width: 80%;
    margin: 0 40px 0 40px;
}
.powers {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(243, 206, 180);
    width: 8em;
    height: 2em;
    margin: 10px 10px 10px 10px;
    padding: 2px 2px 6px 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*Resolución tablet 768 - 1024*/
@media screen and (min-width: 768px) and (max-width: 1023px){
  

    body {
        margin: 0.5em 0 0.5em 0;
        width: 100%;
    }
    .banner {
        width: 98%;
        justify-self: center;
    }

    .card {       
        margin: 10px 20px 50px 0;
        padding: 15px 10px 5px 15px;      
    }

    .search {
        margin-top:3.5em;  
    }

    select {       
        font-size: 18px;
    }

    option {
        font-size: 16px;
        width: 3em;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {

    header {
        width: 100%;
        justify-self: center;
        margin-bottom: 1.5em;
        *background-image: url(./img/banner3.png);
    }

    body {
        width: 100vw;
        align-items: center;
        justify-content: center;
        *border: 0.2em solid yellow;
    }

    nav {
        display: inline-block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }

    .banner {
        width: 100%;
        justify-self: center;
    }

    .search {
        margin-top: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search input {
        font-size: 20px;
        border-radius: 0.3em;
        margin-bottom: 0.7em;
    }

    .search button {
        border-radius: 0.3em;
    }

    select {       
        font-size: 18px;
    }

    option {
        font-size: 10px;
        width: 5em;
    }
}

@media screen and (max-width: 480px) {

    header {
        width: 100%;
        margin-bottom: 1.5em;
    }

    body {
        width: 100%;
        *border: 1em solid yellow;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .banner {
        width: 100%;
        height: 50%;
    }

    .allPokemon {
        height: 1.8em;
    }

    .search {
        margin-top: 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search input {
        font-size: 20px;
        border-radius: 0.3em;
        margin-bottom: 0.7em;
    }

    .search button {
        border-radius: 0.3em;
    }

    select {
        width: 5em;
        height: 3em;
        font-size: 18px;
    }

    option {
        font-size: 10px;
        width: 5em;
    }
}

